<div class="container-fluid">
  <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">

    <div class="row">
      <h2 class="col-xs-12">Buyback</h2>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">Contract information</div>

      <table class="table table-striped" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable"
             [mfRowsOnPage]="100" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
        <thead>
        <tr>
          <th style="width: 20%">
            <mfDefaultSorter by="client">Client</mfDefaultSorter>
          </th>
          <th style="width: 20%">
          </th>
          <th style="width: 20%">
            <mfDefaultSorter by="sell">Jita Sell</mfDefaultSorter>
          </th>
          <th style="width: 20%">
            <mfDefaultSorter by="buy">Jita Buy</mfDefaultSorter>
          </th>
          <th style="width: 20%">
            <!--<mfDefaultSorter by="buybackBuy * buyFactor">Buyback Buy</mfDefaultSorter>-->
            Buyback Buy
          </th>
        </tr>
        <tr>
          <th colspan="5">
            Filter by client:
            <input class="form-control" [(ngModel)]="filterQuery"/>
          </th>
        </tr>
        </thead>
        <div *ngIf="!data">
          <p>Loading contracts ...</p>
        </div>
        <tbody *ngIf="data">
        <tr *ngFor="let item of mf.data">
          <td>{{item.client}}</td>
          <td><a href="{{item.link}}" target="_blank">Appraisal</a></td>
          <td>{{floor(item.sell) | numberGroups }} ISK</td>
          <td>{{floor(item.buy) | numberGroups }} ISK</td>
          <td [style.color]="getPriceBorderStyling(item)">{{floor(item.buy * buyFactor) | numberGroups }} ISK</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="5">
            <mfBootstrapPaginator [rowsOnPageSet]="[50,100,200]"></mfBootstrapPaginator>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
